# ANALYSING SALES USING PANDAS PROJECT: DICTIONARIES

## Author(s): Nfayem Imoro

The program performs data analysis, using pandas, on data acquired from the list of dictionaries below:
[{'product_id':'23', 'name':'computer', 'wholesale_price':'500', 'retail_price':'1000', 'sales':'100'},
 {'product_id':'96', 'name':'Python Workout', 'wholesale_price':'35', 'retail_price':'75', 'sales':'1000'},
 {'product_id':'97', 'name':'Pandas Workout', 'wholesale_price':'35', 'retail_price':'75', 'sales':'500'},
 {'product_id':'15', 'name':'banana', 'wholesale_price':'0.5', 'retail_price':'1', 'sales':'200'},
 {'product_id':'87', 'name':'sandwich', 'wholesale_price':'3', 'retail_price':'5', 'sales':'300'}]

### Step 1: Create DataFrame

In [1]:
import pandas as pd

# Derive data from the list of dictionaries above
data = {
    "Product ID": ["23", "96", "97", "15", "87"],
    "Name": ["Computer", "Python Workout", "Pandas Workout", "Banana", "Sandwich"],
    "Wholesale Price (GHC)": [500.00, 35.00, 35.00, 0.50, 3.00],
    "Retail Price (GHC)": [1000.00, 75.00, 75.00, 1.00, 5.00],
    "Sales": [100, 1000, 500, 200, 300]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Display dataframe
df

  Product ID            Name  Wholesale Price (GHC)  Retail Price (GHC)  Sales
0         23        Computer                  500.0              1000.0    100
1         96  Python Workout                   35.0                75.0   1000
2         97  Pandas Workout                   35.0                75.0    500
3         15          Banana                    0.5                 1.0    200
4         87        Sandwich                    3.0                 5.0    300

### Step 2: Calculate the total profit for each product

In [2]:
# Calculate total profit for each product and add it as a new column
df["Profit (GHC)"] = (df["Retail Price (GHC)"] - df["Wholesale Price (GHC)"]) * df["Sales"]

#Dispaly updated dataframe
df

,Product ID,Name,Wholesale Price (GHC),Retail Price (GHC),Sales,Profit (GHC)
0,23,Computer,500.0,1000.0,100,50000.0
1,96,Python Workout,35.0,75.0,1000,40000.0
2,97,Pandas Workout,35.0,75.0,500,20000.0
3,15,Banana,0.5,1.0,200,100.0
4,87,Sandwich,3.0,5.0,300,600.0

### Step 3: Determine the following:

1. How much total net revenue you received from all these sales?
2. What product is product retail price more than twice the wholesale price?
3. How much did the store make from food vs computers vs books?
4. Because the store is doing so well, you are able to negotiate a 30% discount on the wholesale price of goods. Calculate the new net revenue.
5. Our local government is thinking about imposing a sales tax and is thinking about 15, 20, and 25 percent rates. Show how much less you would net with each of these tax amounts by adding columns to the data frame for current income, as well.

#### 1. How much total net revenue you received from all these sales?

In [3]:
# Calculate the total net revenue and print the result
total_net_revenue = df["Profit (GHC)"].sum()
print(f"The total net revenue is: GHC {total_net_revenue:,.2f}")

The total net revenue is: GHC 110,700.00

#### 2. What product is product retail price more than twice the wholesale price?

In [4]:
# Filter products where the retail price is more than twice the wholesale price
result = df[df["Retail Price (GHC)"] > 2 * df["Wholesale Price (GHC)"]]

# Print the filtered dataframe indicating the name, wholesale price, and retail price of products
print("The products where retail price is more than twice the wholesale price are:")
print()
print(result[["Name", "Wholesale Price (GHC)", "Retail Price (GHC)"]])

The products where retail price is more than twice the wholesale price are:

             Name  Wholesale Price (GHC)  Retail Price (GHC)
1  Python Workout                   35.0                75.0
2  Pandas Workout                   35.0                75.0

#### 3. How much did the store make from food vs computers vs books?

In [5]:
# Function to categorize products
def categorize_product(name):
    if 'Computer' in name:
        return 'Computers'
    elif 'Workout' in name:
        return 'Books'
    else:
        return 'Food'

# Add a new column "Product Category"
df['Product Category'] = df['Name'].apply(categorize_product)

# Group by product category and calculate total profit for each category
net_revenue_per_category = df.groupby("Product Category")["Profit (GHC)"].sum()

# Format profit totals with commas, add GHC currency and keep them rounded to 2 decimal places
net_revenue_per_category = net_revenue_per_category.map(lambda x: "GHC {:,.2f}".format(x))

# Display results
print("The updated dataframe that only indicates product name, product category and profit is:")
print()
print(df[["Name", "Product Category", "Profit (GHC)"]])
print()
print("The net revenue per product category is:")
print(net_revenue_per_category)

The updated dataframe that only indicates product name, product category and profit is:

             Name Product Category  Profit (GHC)
0        Computer        Computers       50000.0
1  Python Workout            Books       40000.0
2  Pandas Workout            Books       20000.0
3          Banana             Food         100.0
4        Sandwich             Food         600.0

The net revenue per product category is:
Product Category
Books        GHC 60,000.00
Computers    GHC 50,000.00
Food            GHC 700.00
Name: Profit (GHC), dtype: object

#### 4. Calculate the new net revenue if a 30% discount is applied to wholesale prices of products

In [6]:
# Calculate the wholesale discount price for each product and add it as column
df["Discount Price (GHC)"] = df["Wholesale Price (GHC)"] * (1-0.3)

# Calculate new total profit for each product and add it as a new column
df["New Profit (GHC)"] = (df["Retail Price (GHC)"] - df["Discount Price (GHC)"]) * df["Sales"]

# Calculate the new total net revenue
new_total_net_revenue = df["New Profit (GHC)"].sum()

# Display results
print("The discount wholesale price and new net revenue per product are:")
print()
print(df[["Name", "Discount Price (GHC)", "New Profit (GHC)"]])
print()
print(f"The new total net revenue is: {new_total_net_revenue:,.2f}")

The discount wholesale price and new net revenue per product are:

             Name  Discount Price (GHC)  New Profit (GHC)
0        Computer                350.00           65000.0
1  Python Workout                 24.50           50500.0
2  Pandas Workout                 24.50           25250.0
3          Banana                  0.35             130.0
4        Sandwich                  2.10             870.0

The new total net revenue is: 141,750.00

#### 5. The local government plans to impose a sales tax of 15%, 20% or 25%:

##### a. Determine the current income gained per product and then calculate the net income per product after tax at the different tax rates

##### Tier 1

In [7]:
# Define sales tax rates
tax_rates = [0.15, 0.20, 0.25]

# Calculate current income (before tax) for each product
df["Current Income (GHC)"] = df["Profit (GHC)"] 

# Calculate net income after tax for each product at different tax rates
for tax_rate in tax_rates:
    tax_label = f"Net Income after {tax_rate*100}% Tax (GHC)"
    df[tax_label] = df["Current Income (GHC)"] * (1 - tax_rate)

# Select columns to print
columns_to_print = ["Name", "Current Income (GHC)"]
for tax_rate in tax_rates:
    columns_to_print.append(f"Net Income after {tax_rate*100}% Tax (GHC)")

# Display selected columns
df[columns_to_print]

,Name,Current Income (GHC),Net Income after 15.0% Tax (GHC),Net Income after 20.0% Tax (GHC),Net Income after 25.0% Tax (GHC)
0,Computer,50000.0,42500.0,40000.0,37500.0
1,Python Workout,40000.0,34000.0,32000.0,30000.0
2,Pandas Workout,20000.0,17000.0,16000.0,15000.0
3,Banana,100.0,85.0,80.0,75.0
4,Sandwich,600.0,510.0,480.0,450.0

##### Tier 2

In [8]:
# Calculate net revenue for each product after 15% sales tax reduction
df["15% Sales Tax Reduction (GHC)"] = df["Profit (GHC)"] * (1-0.15)

# Calculate net revenue for each product after 20% sales tax reduction
df["20% Sales Tax Reduction (GHC)"] = df["Profit (GHC)"] * (1-0.2)

# Calculate net revenue for each product after 25% sales tax reduction
df["25% Sales Tax Reduction (GHC)"] = df["Profit (GHC)"] * (1-0.25)

# Display specific columns of updated dataframe to include net revenue for each product after each tax reduction
df[["Name", "Profit (GHC)", "15% Sales Tax Reduction (GHC)", "20% Sales Tax Reduction (GHC)", "25% Sales Tax Reduction (GHC)"]]

,Name,Profit (GHC),15% Sales Tax Reduction (GHC),20% Sales Tax Reduction (GHC),25% Sales Tax Reduction (GHC)
0,Computer,50000.0,42500.0,40000.0,37500.0
1,Python Workout,40000.0,34000.0,32000.0,30000.0
2,Pandas Workout,20000.0,17000.0,16000.0,15000.0
3,Banana,100.0,85.0,80.0,75.0
4,Sandwich,600.0,510.0,480.0,450.0

##### b. Calculate how much less you would net in total at the different tax rates

##### Tier 1

In [9]:
# Calculate the total current income and print the result
total_current_income = df["Current Income (GHC)"].sum()
print(f"The total current income is: GHC {total_current_income:,.2f}")
print()

# Print
print("The total net income after tax at each tax rate:")
print()

# Calculate total net income after tax at different tax rates
for tax_rate in tax_rates:
    net_income = total_current_income * (1 - tax_rate)
    # Print total net income after tax at each tax rate
    print(f"{tax_rate*100}% Tax Reduction: GHC {net_income:,.2f}")

# Print
print()
print("The total net loss in income after tax at each tax rate:")
print()

# Calculate total net loss in income after tax at different tax rates
for tax_rate in tax_rates:
    net_income = total_current_income * (1 - tax_rate)
    net_loss = total_current_income - net_income
    # Print total net loss in income after tax at each tax rate
    print(f"{tax_rate*100}% Tax Reduction: GHC {net_loss:,.2f}")

The total current income is: GHC 110,700.00

The total net income after tax at each tax rate:

15.0% Tax Reduction: GHC 94,095.00
20.0% Tax Reduction: GHC 88,560.00
25.0% Tax Reduction: GHC 83,025.00

The total net loss in income after tax at each tax rate:

15.0% Tax Reduction: GHC 16,605.00
20.0% Tax Reduction: GHC 22,140.00
25.0% Tax Reduction: GHC 27,675.00

##### Tier 2

In [10]:
# Calculate the new total net revenue for each sales tax reduction
new_net_revenue_fifteen = df["15% Sales Tax Reduction (GHC)"].sum()
new_net_revenue_twenty = df["20% Sales Tax Reduction (GHC)"].sum()
new_net_revenue_twenty_five = df["25% Sales Tax Reduction (GHC)"].sum()

# Calculate the loss in net revenue for each sales tax reduction
dif_net_revenue_fifteen = total_net_revenue - new_net_revenue_fifteen
dif_net_revenue_twenty = total_net_revenue - new_net_revenue_twenty
dif_net_revenue_twenty_five = total_net_revenue - new_net_revenue_twenty_five

# Display results
print(f"The total net revenue is: GHC {total_net_revenue:,.2f}")
print()
print("The new total net revenue for each tax reduction:")
print()
print(f"Fifteen Percent Tax Reduction: GHC {new_net_revenue_fifteen:,.2f}")
print(f"Twenty Percent Tax Reduction: GHC {new_net_revenue_twenty:,.2f}")
print(f"Twenty five Percent Tax Reduction: GHC {new_net_revenue_twenty_five:,.2f}")
print()
print("The net loss for total revenue for each tax reduction:")
print()
print(f"Fifteen Percent Tax Reduction: GHC {dif_net_revenue_fifteen:,.2f}")
print(f"Twenty Percent Tax Reduction: GHC {dif_net_revenue_twenty:,.2f}")
print(f"Twenty five Percent Tax Reduction: GHC {dif_net_revenue_twenty_five:,.2f}")

The total net revenue is: GHC 110,700.00

The new total net revenue for each tax reduction:

Fifteen Percent Tax Reduction: GHC 94,095.00
Twenty Percent Tax Reduction: GHC 88,560.00
Twenty five Percent Tax Reduction: GHC 83,025.00

The net loss for total revenue for each tax reduction:

Fifteen Percent Tax Reduction: GHC 16,605.00
Twenty Percent Tax Reduction: GHC 22,140.00
Twenty five Percent Tax Reduction: GHC 27,675.00

### DataFrame at the End of the Program

In [12]:
# Display dataframe at the end of the program
df

,Product ID,Name,Wholesale Price (GHC),Retail Price (GHC),Sales,Profit (GHC),Product Category,Discount Price (GHC),New Profit (GHC),Current Income (GHC),Net Income after 15.0% Tax (GHC),Net Income after 20.0% Tax (GHC),Net Income after 25.0% Tax (GHC),15% Sales Tax Reduction (GHC),20% Sales Tax Reduction (GHC),25% Sales Tax Reduction (GHC)
0,23,Computer,500.0,1000.0,100,50000.0,Computers,350.00,65000.0,50000.0,42500.0,40000.0,37500.0,42500.0,40000.0,37500.0
1,96,Python Workout,35.0,75.0,1000,40000.0,Books,24.50,50500.0,40000.0,34000.0,32000.0,30000.0,34000.0,32000.0,30000.0
2,97,Pandas Workout,35.0,75.0,500,20000.0,Books,24.50,25250.0,20000.0,17000.0,16000.0,15000.0,17000.0,16000.0,15000.0
3,15,Banana,0.5,1.0,200,100.0,Food,0.35,130.0,100.0,85.0,80.0,75.0,85.0,80.0,75.0
4,87,Sandwich,3.0,5.0,300,600.0,Food,2.10,870.0,600.0,510.0,480.0,450.0,510.0,480.0,450.0